@model PagedList.IPagedList<PC111_2115239_TranVanNam.Models.Blog>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Blogs", FormMethod.Get))
{
    <p>
        Tìm kiếm: @Html.TextBox("searchString") <input type="submit" value="Tìm kiếm" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Tên", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("URL", "Index", new { sortOrder = ViewBag.UrlSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BlogId }) |
                @Html.ActionLink("Details", "Details", new { id = item.BlogId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BlogId })
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
